@model IEnumerable<IAuthenticationClient>

@using Corvalius.Membership.Raven.Sample.Mvc4
@using DotNetOpenAuth.AspNet

@if (Model.Count() != 0)
{
    <h3>Add an external login</h3>

    using (Html.BeginForm("ExternalLogin", "Account"))
    {
    @Html.AntiForgeryToken()
    <fieldset id="socialLoginList">
        <legend>Log in using another service</legend>
        <p>
            @foreach (var p in Model)
            {
                <button type="submit" name="provider" value="@p.ProviderName" title="Log in using your @p.ProviderName account">
                    <img src="@AuthConfig.GetClientIcon(p.ProviderName)" alt="" />
                    <span style="vertical-align: top">@p.ProviderName</span>
                </button>
            }
        </p>
    </fieldset>
    }
}