@model RegisterExternalLoginModel
@using Corvalius.Membership.Raven.Sample.Mvc4.Models
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Associate your @Model.Provider account.</h2>
</hgroup>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Association Form</legend>

        <p>
            You've successfully authenticated with <strong>@Model.Provider</strong>.
            Please enter a user name for this site below and click the Confirm button to finish
            logging in.
        </p>
        <ol>
            <li class="name">
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
        </ol>

        <ol>
            <li class="name">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
        </ol>

        @Html.HiddenFor(m => m.Provider)
        @Html.HiddenFor(m => m.ProviderUserId)

        <input type="submit" value="Register" />
    </fieldset>
}

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}